button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    background-color: #d095d5;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    &:hover {
        background-color: #c47dcb;
    }
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}

.info {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.wrapper {
    margin: 0 auto;
    text-align: left;
    width: 200px;
}

.buttons {
    text-align: center;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}
