button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    background-color: #d3cedf;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    &:hover {
        background-color: #bab1cd;
    }
    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }
    &:not(:last-child) {
        margin-right: 10px;
    }
}
