<h3>{{clientId ? 'Update client`s data' : 'Create new client'}}</h3>
<div class="client">
    <form [formGroup]="clientForm" (submit)="formSubmitted(clientForm.value)">
        <label for="name">Name:</label>
        <input class="client__input" type="name" name="name" formControlName="name">
        <label for="name">Age:</label>
        <input class="client__input" type="age" name="age" formControlName="age">
        <label for="name">Taste:</label>
        <input class="client__input" type="taste" name="taste" formControlName="taste">

        <button type="reset">Reset</button>
        <button type="submit" [disabled]="clientForm.invalid">{{clientId ? 'Update' : 'Create'}}</button>
    </form>
</div>