main {
    text-align: center;
    padding: 20px;
}

a {
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:hover {
        background-color: #fcc5c0;
    }
}

nav {
    background-color: #f2d7d9;
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
    margin: -20px;
    margin-bottom: 20px;
}

button {
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
    width: 100px;
}
