@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;700&family=Inter:wght@400;500;700;800;900&display=swap");
@import "./assets/styles/index.scss";

body {
    margin: 0;
    font-family: "Finlandica", sans-serif;
}

button,
input {
    font-family: "Finlandica", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

// button {
//     cursor: pointer;
//     height: 30px;
//     width: 100px;
//     background-color: #d095d5;
//     color: #fff;
//     border: none;
//     border-radius: 15px;
//     &:hover {
//         background-color: #c47dcb;
//     }
//     &:not(:last-child) {
//         margin-right: 10px;
//     }
//     &:disabled {
//         pointer-events: none;
//         opacity: 0.7;
//     }
// }
